<header class="navbar navbar-expand-xl bg-ufr-blue">
  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav align-items-lg-center">
          <li class="nav-item">
            <a class="nav-link text-white me-4" href="#"></a>
          </li>
          <li class="nav-item dropdown px-3">
            <a
              class="nav-link dropdown-toggle active"
              href=""
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Research</a
            >
            <ul class="dropdown-menu" data-bs-theme="light">
              <li>
                <a class="dropdown-item text-black" href="">Publications</a>
              </li>
              <li>
                <a class="dropdown-item text-black" href="">Projects</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown px-3">
            <a
              class="nav-link dropdown-toggle active"
              href=""
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Lehre/Teaching</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-submenu">
                <a class="dropdown-item text-black" href="2024ss_wtheorie.html"
                  >SoSe 2024, Wahrscheinlichkeitstheorie</a
                >
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item text-black" href="measure.html"
                  >Measure theory for probabilists</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
