<h5>Bachelor thesis: Die Varianz der Spieldauer im Gambler's Ruin</h5>
<p>
  Zwei Spieler spielen gegeneinander. Beide Spieler setzen einen Euro,
  Spieler \(A\) (\(B\)) hat eine Gewinnchance von \(p\) (\(1-p\)). Mit
  einem Anfangsguthaben von \(x\) und \(N-x\) wird eine zufällige Zeit
  \(T\) lange gespielt, bis einer der beiden Spieler pleite ist.
  Klassisch ist das Resultat \(E[T] = x(N-x)\). Ziel der Arbeit ist die
  Berechnung von \(V[T]\). Dies kann man etwa anhand von erzeugenden
  Funktionen, oder aber auch etwas direkter lösen.
</p>
<ul>
  <li>Jiri Andel und Sarka Sudecova. Variance of the game duration in
    the gambler's ruin problem. Statistics and Probability Letters.
    82(9), 1750&ndash;1754. 2012.</li>
  <li>E. Bach. Moments in the duration of play. Statistics and
    Probability Letters, 36, 1&ndash;7, 1997.</li>
  <li>William Feller. An Introduction to Probability Theory and its
    Applications (3rd edition). New York: Wiley. 1968.</li>
</ul>
