{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<br />
<div class="container" id="inhalt">
  <h2>Wahrscheinlichkeitstheorie (SS 2024)</h2>
  <p>Dozent: Prof. Dr. Peter Pfaffelhuber</p>
  <p>Assistenz: Samuel Adeosun</p>
  <p>Tutorat: Jakob Kailer</p>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button"
          data-bs-target="#schueler"
          aria-controls="schueler"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Termine, Ablauf, Dokumente</h3>
        </button>
      </h3>
      <p></p>
      <div
        aria-labelledby="schueler"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
        id="schueler"
      >
        <div class="accordion-body">
          <p>Vorlesung: Mo 12-14, HS II, Albertstr. 23b</p>
          <p>Übung: Mi 16-18, SR127, Ernst-Zermelo-Str. 1</p>
          <p>Klausur: nV</p>
          <p>
            Studien- und Prüfungsleistung: Bitte sehen Sie
            <a href="https://www.math.uni-freiburg.de/lehre/v/ss24.pdf">hier</a>
            nach, welche Anforderungen es gibt. (In den meisten Fällen sind dies
            50% der Punkte auf alle Übungsaufgaben, zweimaliges Vorrechnen im
            Tutorat, sowie das Bestehen der Klausur (als Prüfungsleistung) am
            Ende des Semesters.)
          </p>
          <p>
            Ablauf: Die Vorlesungsinhalte werden mit (englischsprachigen)
            Lehrvideos ‒ anhand des Skriptes ‒ vermittelt. Jeden Montag gibt es
            eine Wiederholung der Inhalte, sowie die Möglichkeit, Fragen in der
            Vorlesung zu stellen. Jeden Dienstag mittag gibt es ein neues
            Aufgabenblatt, das bis zum darauffolgenden Montag zu bearbeiten ist.
            Die Abgabe ist im Zettelkasten im Keller der Ernst-Zermelo-Str. 1.
          </p>
          <p>
            Skript: Eine aktuelle Version des Skriptes (englisch) ist
            <a href="static/probability_theory/probability_theory.pdf">hier</a>.
          </p>
          <p>
            Zusätzliche Materialien: Die Wahrscheinlichkeitstheorie baut auf
            maßtheoretischen Grundlagen auf. Diese kann man sich etwa in diesem
            <a href="measure_theory.html">Kurs</a> aneignen.
          </p>
          <p>Übungsblätter</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Sections</th>
                <th scope="col">Ausgabe</th>
                <th scope="col">Abgabe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="static/probability_theory/Tutorial1.pdf"
                    >Blatt 1: Wiederholung Maßtheorie</a
                  >
                  <p>
                    <a href="static/probability_theory/Tutorial1_Sol.pdf">
                      Lösungen</a
                    >
                  </p>
                </td>
                <td>Kurs Maßtheorie</td>
                <td>16.4.2024</td>
                <td>22.4.2024</td>
              </tr>
              <tr>
                <td>
                  <a href="static/probability_theory/Tutorial2.pdf"
                    >Blatt 2: Verbindungen zur Maßtheorie</a
                  >
                </td>
                <td>
                  <p>Kurs Maßtheorie, Section 6.1</p>
                </td>
                <td>23.4.2024</td>
                <td>29.4.2024</td>
              </tr>
              <tr>
                <td>
                  <a href="static/probability_theory/Tutorial3.pdf"
                    >Blatt 3: Erwartungswerte</a
                  >
                </td>
                <td>
                  <p>Section 6.2, 6.3</p>
                </td>
                <td>30.4.2024</td>
                <td>6.5.2024</td>
              </tr>
              <tr>
                <td>
                  <a href="static/probability_theory/Tutorial4.pdf"
                    >Blatt 4: Konvergenzarten</a
                  >
                </td>
                <td>
                  <p>Section7.1, 7.2, 7.3</p>
                </td>
                <td>7.5.2024</td>
                <td>13.5.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 5: Terminale Ereignisse</a></td>
                <td>
                  <p>Sections 8.1, 8.2</p>
                </td>
                <td>14.5.2024</td>
                <td>27.5.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 6: Das Starke Gesetz Großer Zahlen</a></td>
                <td>
                  <p>Sections 8.3, 8.4</p>
                </td>
                <td>28.5.2024</td>
                <td>3.6.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 7: Schwache Konvergenz 1</a></td>
                <td>
                  <p>Sections 9.1, 9.2</p>
                </td>
                <td>4.6.2024</td>
                <td>10.6.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 8: Schwache Konvergenz 2</a></td>
                <td>
                  <p>Sections 9.3, 9.4</p>
                </td>
                <td>11.6.2024</td>
                <td>17.6.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 9: Poisson-Konvergenz</a></td>
                <td>
                  <p>Section 10.1</p>
                </td>
                <td>18.6.2024</td>
                <td>24.6.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 10: Der Zentrale Grenzwertsatz</a></td>
                <td>
                  <p>Sections 10.2, 10.3</p>
                </td>
                <td>25.6.2024</td>
                <td>1.7.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 11: Bedingte Erwartung 1</a></td>
                <td>
                  <p>Sections 11.1, 11.2, 11.3</p>
                </td>
                <td>2.7.2024</td>
                <td>8.7.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 12: Bedingte Erwartung 2</a></td>
                <td>
                  <p>Sections 11.4, 11.5</p>
                </td>
                <td>9.7.2024</td>
                <td>15.7.2024</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-target="#online"
          aria-controls="online"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Videos</h3>
        </button>
      </h3>
      <div
        aria-labelledby="online"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="online"
      >
        <div class="accordion-body">
          <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">1. Introduction</h3>
                  <div class="card-text">
                    <p>Covers Section 6.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">
                    2. Moments, charakteric functions and Laplace transforms
                  </h3>
                  <div class="card-text">
                    <p>Covers Sections 6.2, 6.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">3. Introduction to different convergences</h3>
                  <div class="card-text">
                    <p>Covers Section 7.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">
                    4. Almost sure convergence and convergence in probability
                  </h3>
                  <div class="card-text">
                    <p>Covers Section 7.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">
                    5. Convergence in probability and L^p-convergence
                  </h3>
                  <div class="card-text">
                    <p>Covers Section 7.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">6. The Lemma of Borel-Cantelli</h3>
                  <div class="card-text">
                    <p>Covers Section 8.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">7. Kolmogorov's 0-1-Law</h3>
                  <div class="card-text">
                    <p>Covers Section 8.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">8. Sums of independent random variables</h3>
                  <div class="card-text">
                    <p>Covers Section 8.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">9. The Strong Law of Large Numbers</h3>
                  <div class="card-text">
                    <p>Covers Section 8.4</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">10. Introduction to weak convergence</h3>
                  <div class="card-text">
                    <p>Covers Section 9.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">11. Prohorov's Theorem</h3>
                  <div class="card-text">
                    <p>Covers Section 9.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">12. Separating classes of functions</h3>
                  <div class="card-text">
                    <p>Covers Section 9.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">13. Lévy's Theorem</h3>
                  <div class="card-text">
                    <p>Covers Section 9.4</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">14. Poisson convergence</h3>
                  <div class="card-text">
                    <p>Covers Section 10.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">15. The Central Limit Theorem</h3>
                  <div class="card-text">
                    <p>Covers Section 10.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">16. Multidimensional weak limits</h3>
                  <div class="card-text">
                    <p>Covers Section 10.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">
                    17. Introduction to conditional expectation
                  </h3>
                  <div class="card-text">
                    <p>Covers Section 11.1, 11.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">18. The case G = σ(X) and some examples</h3>
                  <div class="card-text">
                    <p>Covers Section 11.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">19. Conditional independence</h3>
                  <div class="card-text">
                    <p>Covers Section 11.4</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">
                    20. Regular version of conditional distribution
                  </h3>
                  <div class="card-text">
                    <p>Covers Section 11.5</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
