{% extends '_base.html' %}{% block title %}Samuel Ayomide Adeosun{% endblock %}{% block content %}
<div class="container">
  <h1>Samuel Ayomide Adeosun</h1>
  <div class="row">
    <div class="col-8">
      <p>Currently, I am a PhD student in the <a href="https://uni-freiburg.de/stochastik/">probability group</a> within the <a
          href="https://www.math.uni-freiburg.de/index.html">mathematical institute</a> of the <a
          href="https://uni-freiburg.de/">University of Freiburg</a>. </p>
      <h2>Adress:<b> </b></h2>
      <p>
        Abteilung für Mathematische Stochastik <br />
        Albert-Ludwigs University of Freiburg <br />
        Ernst-Zermelo-Straße 1
      </p>
      <p>
        Room 230<br />
        D - 79104 Freiburg
      </p>
      <p>
        E-Mail: <a href="mailto:samuel.adeosun@stochastik.uni-freiburg.de">samuel.adeosun@stochastik.uni-freiburg.de</a>
      </p>
    </div>
    <div class="col-4">
      <img
        src="static/Bilder/samuel.jpg"
        style="float: right; width: 270px; max-width: 100%; height: auto;"
        title="Samuel Ayomide Adeosun"
        alt="Samuel Ayomide Adeosun"
        class="px-4"
      />
    </div>
    <div class="col-12">
      <div class="ufr-accordion">
        <div class="ufr-accordion-item">
          <button type="button" class="ufr-accordion-header" data-bs-toggle="collapse"
            data-bs-target="#_researchTopics" aria-expanded="false" aria-controls="_researchTopics">
            <span class="ufr-accordion-header-content">
              <span class="ufr-accordion-title">Research topics and interests</span>
            </span>
            <span class="ufr-accordion-chevron" aria-hidden="true">
              <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
              </svg>
            </span>
          </button>
          <div id="_researchTopics" class="collapse">
            <div class="ufr-accordion-body">
              <ul>
                <li>Transposable elements</li>
                <li>Markov Processes</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ufr-accordion-item">
          <button type="button" class="ufr-accordion-header" data-bs-toggle="collapse"
            data-bs-target="#_publications" aria-expanded="false" aria-controls="_publications">
            <span class="ufr-accordion-header-content">
              <span class="ufr-accordion-title">Publications</span>
            </span>
            <span class="ufr-accordion-chevron" aria-hidden="true">
              <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
              </svg>
            </span>
          </button>
          <div id="_publications" class="collapse">
            <div class="ufr-accordion-body">
              {% include 'publications_content_adeosun.html' %}
            </div>
          </div>
        </div>
      </div>

      <p></p>
    </div>
  </div>
</div>
{% endblock %}
