{% extends '_base.html' %}{% block title %}Alumni{% endblock %}{% block content %}
<div class="container">
  <h1>Alumni</h1>
  <ul>
    <li>
      Jakob Stiefel
    </li>
    <li>
      Timo Enger
    </li>
    <li>
      <a href="https://www.baumdickerlab.de/">Franz Baumdicker</a>
    </li>
    <li>
      <a href="https://www.uni-frankfurt.de/136717849/Dr__Felix_Hermann">Felix Hermann</a>
    </li>
    <li>
      Elisabth Huss
    </li>
    <li>
      <a href="https://czuppon.net/">Peter Czuppon</a>
    </li>
    <li>
      Sebastian Bossert
    </li>
    <li>
      <a href="https://scholar.google.de/citations?user=dDF3j54AAAAJ&hl=de">Andrej Depperschmidt</a>
    </li>
    <li>
      <a href="https://www.math.uni-luebeck.de/mitarbeiter/pokalyuk/">Cornelia Pokalyuk</a>
    </li>
  </ul>



</div>
{% endblock %}
</div>