{% extends '_base.html' %}{% block title %}Imprint{% endblock %}{% block content %}
<div class="container">
  <h1>Imprint</h1>

  <p>
    Albert-Ludwigs-Universität Freiburg<br />
    Friedrichstraße 39<br />
    79098 Freiburg
  </p>

  <h2>Contact</h2>
  <p>
    Telephone: +49 761 203-0<br />
    Fax: +49 761 203-4369<br />
    <a href="mailto:info@uni-freiburg.de">info@uni-freiburg.de</a><br />
    <a href="https://uni-freiburg.de">https://uni-freiburg.de</a>
  </p>

  <h2>Legal form and Legal Representation</h2>
  <p>
    The University of Freiburg is a corporation under public law.<br />
    It is legally represented by the Rector <strong>Prof. Dr. Kerstin Krieglstein</strong>.
  </p>

  <h2>Competent Supervisory Authority</h2>
  <p>
    <strong>Ministry of Science, Research and the Arts Baden-Württemberg</strong><br />
    Königstraße 46, 70173 Stuttgart
  </p>

  <h2>VAT ID number</h2>
  <p>DE 142116817</p>

  <h2>EORI Number</h2>
  <p>DE1112988</p>

  <h2>Responsibility for Content</h2>
  <p>
    For this github hosted site, responsible for the content is
    Peter Pfaffelhuber,
    <a href="mailto:p.p@stochastik.uni-freiburg.de">p.p@stochastik.uni-freiburg.de</a>.
  </p>
</div>
{% endblock %}
