{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<div class="container">
  <div class="col-12">
    <h1>Peter Pfaffelhuber</h1>
    <p>
      <img
        src="static/Bilder/peter_pfaffelhuber.jpg"
        style="float: right"
        title="peter_pfaffelhuber_bild"
        align="right"
        height="355"
        width="270"
        alt="Peter_Pfaffelhuber_Bild_zugeschnitten"
        class="px-4 image-inline"
      />The <a href="https://www.math.uni-freiburg.de/index.html">Mathematical Institute</a> at the <a href="https://www.uni-freiburg.de">University of Freiburg</a> has been home to
      my research group since 2008. On the one hand, we like interdisciplinary
      research and teaching more than some of our colleagues, but on the other
      hand, we always come back to stochastics as the main focus of our work.
    </p>

    <p></p>

    <p>My research has three goals:</p>
    <ul>
      <li>
        Stochastics is the basis for understanding in the life sciences. Fields
        of application that we work on are population genetics, forensic
        genetics and neuroscience.
      </li>
      <li>
        The characterization and convergence of stochastic processes can be
        studied by (so-called) martingale problems. We are working on the
        development of new convergence results using this technique.
      </li>
      <li>
        In recent years, mathematicians can formalize their research results
        using the
        <a href="https://leanprover.github.io/">Lean Theorem prover</a>. We are
        working to expand the stochastics section of the corresponding library.
      </li>
    </ul>

    <p><strong>Projects</strong></p>
    <ul>
      <li>
        Zusammen mit
        <a href="https://www.stochastik.uni-freiburg.de/de/professoren/rohde"
          >Angelika Rohde</a
        >
        und
        <a
          href="https://www.uniklinik-freiburg.de/rechtsmedizin/forensische-molekularbiologie.html"
          >Sabine Lutz-Bonengel</a
        >
        bin ich Projektleiter in einem Projekt zur forensischen Genetik des
        Sonderforschungsbereichs
        <a href="https://www.smalldata-initiative.de">Small Data.</a>
      </li>
      <li>
        Momentan bin ich Mitglied des Direktoriums des
        <a href="https://www.fdm.uni-freiburg.de/"
          >Freiburger Zentrums für Datenanalyse und Modellbildung (FDM).</a
        >
      </li>
    </ul>
    <p></p>
    <p>
      <strong>Research topics<br /></strong>
    </p>
    <ul>
      <li>Probabilistic modeling in the life sciences</li>
      <li>Population genetics</li>
      <li>Chemical reaction networks</li>
      <li>Formalizing probability</li>
    </ul>
    <p></p>
    <h2>Office hours:</h2>
    <p></p>
    <p>Please write an email if you want to contact me.</p>
    <p></p>
    <h2>Adress:<b> </b></h2>
    <p>
      Abteilung für Mathematische Stochastik <br />
      Albert-Ludwigs University of Freiburg <br />
      Ernst-Zermelo-Straße 1
    </p>
    <p>
      Zimmer 233<br />
      D - 79104 Freiburg
    </p>
    <p>
      Tel: +49-761-203-5667 <br />
      Fax: +49-761-203-5661 <br />
      E-Mail: peter[dot]pfaffelhuber[at]stochastik[dot]uni-freiburg[dot]de
    </p>
  </div>
</div>
{% endblock %}
