{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<div class="container">
  <div class="col-12">
    <br>
    <br>
    <p>
      The
      <a href="https://www.math.uni-freiburg.de/index.html"
        >Mathematical Institute</a
      >
      at the
      <a href="https://www.uni-freiburg.de">University of Freiburg</a> has been
      home to the AG Pfaffelhuber since 2008. On the one hand, we like
      interdisciplinary research and teaching more than some of our colleagues,
      but on the other hand, we always come back to stochastics as the main
      focus of our work.
    </p>
  </div>
</div>
{% endblock %}
