{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<div class="container">
  <div class="col-8">
    <br>
    <br>
    <p>
      The
      <a href="https://www.math.uni-freiburg.de/index.html">Mathematical Institute</a>
      at the
      <a href="https://www.uni-freiburg.de">University of Freiburg</a> has been
      home to the AG Pfaffelhuber since 2008. We like
      interdisciplinary research with applications in the life sciences, in particular we work in the fields of
      population genetics, forensic genetics, and neuroscience. Recently, there are also activities of formalizing probability using the <a href="https://lean-lang.org/">Lean</a> Theorem Prover.
    </p>
    <p>
    Here are some upcoming and recent news and activities:
    <ul>
      <li>
        [September 2025] <a href="https://pfaffelh.github.io/interacting-2025/">Dynamics of interacting populations and beyond</a>. <br>
        Workshop, co-organized with <a href="https://www.math.uni-luebeck.de/mitarbeiter/pokalyuk/index.php">Cornelia
          Pokalyuk</a> (University of Lübeck) from September 9 to 12, 2025 at the Theodor-Schwartz-Haus at the Baltic
        Sea, Travemünde. <br>
        There are still a few spots available, please drop us a line if you want to participate.
      </li>
      <li>[June 2025] Every Friday at 11:00, starting June 27, 2025, we meet in SR 232 in order to discuss formalization of mathematics. This meeting is open to everyone.</li>
      <li>
        [June 2025] In a collaboration with <a href="https://remydegenne.github.io/">Remy Degenne</a>, there is a <a href="https://github.com/RemyDegenne/brownian-motion">formalization project of Brownian Motion</a>.
      </li>
    </ul>
    </p>
  </div>
</div>
{% endblock %}
My research has three goals:










<h3 class="wp-block-heading">Forschungsschwerpunkte</h3>



<ul class="wp-block-list">
  <li>Probabilistic modeling in the life sciences</li>



  <li>Population genetics and Chemical reaction networks</li>



  <li>Markov processes</li>



  <li>Formalization of Probability Theory in Lean</li>
</ul>


The characterization and convergence of stochastic processes can be studied using (so-called) martingale problems. We
are working on the development of new convergence results that use this technique.
In recent years, mathematicians have been able to formalize their research results using the Lean Theorem Prover. We are
working to expand the stochastic section of the corresponding library.


Project
Together with Angelika Rohde and Sabine Lutz-Bonengel, I am project manager in a project on forensic genetics at the
Collaborative Research Center Small Data.
I am currently a member of the board of directors of the Freiburg Center for Data Analysis, Modeling, and AI (FDMAI).
Research
Probabilistic modeling in the life sciences
Population genetics and chemical reaction networks
Markov processes
Formalization of probability theory in lean