{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<br />
<div class="container" id="inhalt">
  <h2>Workshop 5: Die unglaubliche Beweis-Maschine</h2>
  <p><a href="static/misc/Mathetag2025.pdf">Hier</a> sind die Vortrags-Folien.</p>
  <p><a href="https://incredible.pm/">Hier</a> geht es zur unglaublichen Beweis-Maschine.</p>
  <p>Danke an alle, die mitgemacht haben!</p>
  <p>Hier ist noch die Lösung der letzten Aufgabe aus Lektion 2, die wir am Ende nicht mehr rausbekommen hatten.</p>
  <div style="text-align: center;">
  <img src="static/misc/pm.png" alt="Beschreibung" width="800">
</div>
</div>
{% endblock %}
