{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<br />
<div class="container" id="inhalt">
  <h2>Wahrscheinlichkeitstheorie (SS 2024)</h2>
  <p>Dozent: Prof. Dr. Peter Pfaffelhuber</p>
  <p>Assistenz: Samuel Adeosun</p>
  <p>Tutorat: Jakob Kailer</p>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button"
          data-bs-target="#schueler"
          aria-controls="schueler"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Termine, Ablauf, Dokumente</h3>
        </button>
      </h3>
      <p></p>
      <div
        aria-labelledby="schueler"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
        id="schueler"
      >
        <div class="accordion-body">
          <p>Vorlesung: Mo 12-14, HS II, Albertstr. 23b</p>
          <p>Übung: Mi 12-14, HS II, Albertstr. 23b</p>
          <p>Klausur: nV</p>
          <p>
            Studien- und Prüfungsleistung: Bitte sehen Sie
            <a href="">hier</a> nach, welche Anforderungen es gibt. (In den
            meisten Fällen sind dies 50% der Punkte auf alle Übungsaufgaben,
            sowie das Bestehen der Klausur (PL) am Ende des Semesters.)
          </p>
          <p>
            Ablauf: Die Vorlesungsinhalte werden mit (englischsprachigen)
            Lehrvideos -- anhand des Skriptes -- vermittelt. Jeden Montag gibt
            es eine Wiederholung der Inhalte, sowie die Möglichkeit, Fragen in
            der Vorlesung zu stellen. Ebenfalls jeden Montag gibt es ein neues
            Aufgabenblatt, das innerhalb einer Woche zu bearbeiten ist und zu
            Beginn der Vorlesung abzugeben ist.
          </p>
          <p>
            Skript: Eine aktuelle Version des Skriptes (englisch) ist
            <a href="">hier</a>.
          </p>
          <p>
            Zusätzliche Materialien: Die Wahrscheinlichkeitstheorie baut auf
            maßtheoretischen Grundlagen auf. Diese kann man sich etwa in diesem
            <a href="">Skript</a> aneignen. Eine entsprechende
            <a
              href="https://www.youtube.com/watch?v=tpy7MO0S0v8&list=PLH2Mmq5HX7Sy3FY6PiT1a3DiUsu6ziey_"
              >Playlist</a
            >
            mit Videos gibt es ebenfalls.
          </p>
          <p>Übungsblätter</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Videos</th>
                <th scope="col">Ausgabe</th>
                <th scope="col">Abgabe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="">Blatt 0: Wiederholung Maßtheorie</a></td>
                <td>
                  <a
                    href="https://www.youtube.com/watch?v=tpy7MO0S0v8&list=PLH2Mmq5HX7Sy3FY6PiT1a3DiUsu6ziey_"
                    >Playliste Maßtheorie</a
                  >
                </td>
                <td>17.4.2024 (Präsenz)</td>
                <td>17.4.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 1: Zufallsvariable</a></td>
                <td>
                  <p>1.</p>
                  <p>1.</p>
                </td>
                <td>17.4.2024</td>
                <td>24.4.2024</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-target="#online"
          aria-controls="online"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Videos</h3>
        </button>
      </h3>
      <div
        aria-labelledby="online"
        class="accordion-collapse collapse {% if anchor == 'online' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="online"
      >
        <div class="accordion-body">
          <p>
            Neben dem OSA Mathematik, der die Studienwahl erleichtern soll, gibt
            es zahlreiche weitere Materialien, die wir online zur Verfügung
            stellen.
          </p>
          <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/tpy7MO0S0v8?si=5IkS06DOthrGQmgC"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">1. Wiederholung</h3>
                  <div class="card-text">
                    <p>Maßtheorie</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/tpy7MO0S0v8?si=5IkS06DOthrGQmgC"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">1. Wiederholung</h3>
                  <div class="card-text">
                    <p>Maßtheorie</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
