{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<br />
<div class="container" id="inhalt">
  <h2>Measure Theory for Probabilists</h2>
  <p>Prof. Dr. Peter Pfaffelhuber</p>
  <p>Samuel Adeosun</p>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button"
          data-bs-target="#schueler"
          aria-controls="schueler"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Structure of the course</h3>
        </button>
      </h3>
      <p></p>
      <div
        aria-labelledby="schueler"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
        id="schueler"
      >
        <div class="accordion-body">
          <p>
            This is an online course which is given at the University of
            Freiburg.
          </p>
          <p>
            Requirements: If you want to have a <i>Studienleistung</i>, you must
            hand in parts of the exercises. Please contact Peter Pfaffelhuber if
            you want to do so.
          </p>
          <p>
            Content: The course covers the material which is usually needed in
            order to dive into measure theoretic aspects of probability theory.
            Usually, in basic lectures on probability (e.g. taught in Freiburg
            as <i>Stochastik 1</i> in the 3rd semester), no measure theory is
            needed. Rather, the lecture in <i>Analysis 3</i> covers measure
            theory. However, in case you want to specialize in probability
            theory and did not attend <i>Analysis 3</i>, this course is for you.
          </p>
          <p>
            Prerequisites: You need to know fundamentals of mathematics, such as
            <i>sets, functions</i> etc. The course requires some knowledge in
            <i>topology</i>, but tries to recall all explanations in this field.
          </p>
          <p>
            Manuscript: The current version is
            <a href="static/measure_theory/manuscript_MT.pdf">here</a>.
          </p>
          <p>
            Videos: Below you find links to all Videos, or you look at the
            <a
              href="https://www.youtube.com/watch?v=tpy7MO0S0v8&list=PLH2Mmq5HX7Sy3FY6PiT1a3DiUsu6ziey_"
              >playlist</a
            >.
          </p>
          <p>Exercises: You can find the exercises as part of the manuscript.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-target="#online"
          aria-controls="online"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Videos</h3>
        </button>
      </h3>
      <div
        aria-labelledby="online"
        class="accordion-collapse collapse {% if anchor == 'online' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="online"
      >
        <div class="accordion-body">
          <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/tpy7MO0S0v8?si=t1fCjPSMA1pVPb6M"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">1. Introduction</h3>
                  <div class="card-text">
                    <p>Some introductory remarks</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/ibxLR0Ed6tY?si=cbj7RLt59bI74ObU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">2. Semi-rings and σ-fields</h3>
                  <div class="card-text">
                    <p>Covers Section 1.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/eF5m4A5Yzt0?si=wc6XZfm2INz6AUQU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">3. Generators and extensions</h3>
                  <div class="card-text">
                    <p>
                      Covers Section 1.2, and includes some repetition in
                      topology (Appendix A)
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/K415DCGAndI?si=NaFZiSmpPYGM4OqO"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">4. Dynkin systems and compact systems</h3>
                  <div class="card-text">
                    <p>Covers Sections 1.3 and 1.4</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/3qEPkjcatbM?si=HxeX377JTdamOEdA"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">5. Set functions and outer measures</h3>
                  <div class="card-text">
                    <p>Covers Section 2.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/bJty372_KM8?si=rrLs1wB1dtARWZL4"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">6. σ-additivity</h3>
                  <div class="card-text">
                    <p>
                      Covers Section 1.2, and includes some repetition in
                      topology (Appendix A)
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/rsAwspVssXY?si=ANNUrGDL6DrXek9_"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">
                    7. Uniqueness and extension of set functions
                  </h3>
                  <div class="card-text">
                    <p>Covers Section 2.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/VFqQjJWKgoQ?si=1LRiOU_gK471j1hO"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">8. Measures on ℝ and image measures</h3>
                  <div class="card-text">
                    <p>Covers Sections 2.4 and 2.5</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/JrKhqzJyWPU?si=IDF_DWr9banAM0Z4"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">9. Approximation of measurable functions</h3>
                  <div class="card-text">
                    <p>Covers Section 3.1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/H9SlDk2l6Uw?si=SPFW1qbir7dY20Lz"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">
                    10. Defining the integral, and some properties
                  </h3>
                  <div class="card-text">
                    <p>Covers Sections 3.2, 3.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/K_tVhCZn-88?si=LGbg9wp76gAyArKr"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">11. Convergence results</h3>
                  <div class="card-text">
                    <p>Covers Section 3.4</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/LDZ0Hl2VsxU?si=sE6Ng8F8vrlTWo5G"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">12. Basics of L^p -spaces</h3>
                  <div class="card-text">
                    <p>Covers Sections 4.1, 4.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/iItvEveHhbw?si=vbR25i9o2M14kzb2"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">13. The space L^2</h3>
                  <div class="card-text">
                    <p>Covers Section 4.3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/usr-j70ag8c?si=-cw2lJsG9yBZt7DV"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">14. Theorem of Radon-Nikodým</h3>
                  <div class="card-text">
                    <p>Covers Section 4.4</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/S72C9rx6fyg?si=OL_jh5H4cOlaUINQ"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">15. Set systems on product spaces</h3>
                  <div class="card-text">
                    <p>Covers Sections 5.1, 5.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/QNiOL7LkDDo?si=JVrsfHgtM5zPHxD2"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">16. Measures on product spaces</h3>
                  <div class="card-text">
                    <p>Covers Section 5.3, 5.4</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/Rfe56mSRsGs?si=pdK33xZkNGyDKBl9"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">17. Projective limits</h3>
                  <div class="card-text">
                    <p>Covers Section 5.5</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
