{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<br />
<div class="container" id="inhalt">
  <h2>Measure Theory for Probabilists</h2>
  <p>Prof. Dr. Peter Pfaffelhuber</p>
  <p>Samuel Adeosun</p>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button"
          data-bs-target="#schueler"
          aria-controls="schueler"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Structure of the course</h3>
        </button>
      </h3>
      <p></p>
      <div
        aria-labelledby="schueler"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
        id="schueler"
      >
        <div class="accordion-body">
          <p>
            This is an online course which is given at the University of
            Freiburg.
          </p>
          <p>
            Requirements: If you want to have a <i>Studienleistung</i>, you must
            hand in parts of the exercises. Please contact Peter Pfaffelhuber if
            you want to do so.
          </p>
          <p>
            Content: The course covers the material which is usually needed in
            order to dive into measure theoretic aspects of probability theory.
            Usually, in basic lectures on probability (e.g. taught in Freiburg
            as <i>Stochastik 1</i> in the 3rd semester), no measure theory is
            needed. Rather, the lecture in <i>Analysis 3</i> covers measure
            theory. However, in case you want to specialize in probability
            theory and did not attend <i>Analysis 3</i>, this course is for you.
          </p>
          <p>
            Prerequisites: You need to know fundamentals of mathematics, such as
            <i>sets, functions</i> etc. The course requires some knowledge in
            <i>topology</i>, but tries to recall all explanations in this field.
          </p>
          <p>
            Manuscript and videos: The current version is
            <a href="static/measure_theory/manuscript_MT.pdf">here</a>. Below
            you find links to all Videos, or you look at the playlist at
            <a
              href="https://www.youtube.com/watch?v=tpy7MO0S0v8&list=PLH2Mmq5HX7Sy3FY6PiT1a3DiUsu6ziey_"
            ></a
            >.
          </p>
          <p>Übungsblätter</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Videos</th>
                <th scope="col">Ausgabe</th>
                <th scope="col">Abgabe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="">Blatt 0: Wiederholung Maßtheorie</a></td>
                <td>
                  <a
                    href="https://www.youtube.com/watch?v=tpy7MO0S0v8&list=PLH2Mmq5HX7Sy3FY6PiT1a3DiUsu6ziey_"
                    >Playliste Maßtheorie</a
                  >
                </td>
                <td>17.4.2024 (Präsenz)</td>
                <td>17.4.2024</td>
              </tr>
              <tr>
                <td><a href="">Blatt 1: Zufallsvariable</a></td>
                <td>
                  <p>1.</p>
                  <p>1.</p>
                </td>
                <td>17.4.2024</td>
                <td>24.4.2024</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-target="#online"
          aria-controls="online"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Videos</h3>
        </button>
      </h3>
      <div
        aria-labelledby="online"
        class="accordion-collapse collapse {% if anchor == 'online' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="online"
      >
        <div class="accordion-body">
          <p>
            Neben dem OSA Mathematik, der die Studienwahl erleichtern soll, gibt
            es zahlreiche weitere Materialien, die wir online zur Verfügung
            stellen.
          </p>
          <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/tpy7MO0S0v8?si=5IkS06DOthrGQmgC"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">1. Wiederholung</h3>
                  <div class="card-text">
                    <p>Maßtheorie</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <center>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/tpy7MO0S0v8?si=5IkS06DOthrGQmgC"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </center>
                <div class="card-body">
                  <h3 class="h5">1. Wiederholung</h3>
                  <div class="card-text">
                    <p>Maßtheorie</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
