{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<div class="container">
  <h1>Peter Pfaffelhuber</h1>
  <div class="row">
    <div class="col-8">
      <h2>Office hours:</h2>
      <p></p>
      <p>Please write an email if you want to contact me.</p>
      <p></p>
      <h2>Adress:<b> </b></h2>
      <p>
        Abteilung für Mathematische Stochastik <br />
        Albert-Ludwigs University of Freiburg <br />
        Ernst-Zermelo-Straße 1
      </p>
      <p>
        Zimmer 233<br />
        D - 79104 Freiburg
      </p>
      <p>
        Tel: +49-761-203-5667 <br />
        Fax: +49-761-203-5661 <br />
        E-Mail: peter[dot]pfaffelhuber[at]stochastik[dot]uni-freiburg[dot]de
      </p>
    </div>
    <div class="col-4">
      <img
        src="static/Bilder/peter_pfaffelhuber.jpg"
        style="float: right"
        title="peter_pfaffelhuber_bild"
        align="right"
        height="355"
        width="270"
        alt="Peter_Pfaffelhuber_Bild_zugeschnitten"
        class="px-4"
      />
    </div>
  </div>
  <div class="col-12">
    <div id="accordion">
      <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item" id="_vorbereitung">
          <h4 class="accordion-header" id="header_vorbereitung">
            <button
              aria-controls="_researchTopics"
              aria-expanded="false"
              class="accordion-button collapsed"
              data-bs-target="#_researchTopics"
              data-bs-toggle="collapse"
              type="button"
            >
              <h3 class="h5">Research topics</h3>
            </button>
          </h4>
          <div
            aria-labelledby="_researchTopics"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
            id="_researchTopics"
          >
            <div class="accordion-body" id="researchTopics">
              <ul>
                <li>Probabilistic modeling in the life sciences</li>
                <li>Population genetics</li>
                <li>Chemical reaction networks</li>
                <li>Formalizing probability</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="_einfuehrungswoche">
          <h4 class="accordion-header" id="header_einfuehrungswoche">
            <button
              aria-controls="_publications"
              aria-expanded="false"
              class="accordion-button collapsed"
              data-bs-target="#_publications"
              data-bs-toggle="collapse"
              type="button"
            >
              <h3 class="h5">Publications</h3>
            </button>
          </h4>
          <div
            id="_publications"
            aria-labelledby="_publications"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body" id="publications">
              <p>
                My research is published in both, mathematical and biological
                journals. Only peer-reviewed papers are listed. <br /><br />
                Here is the list from
                <a
                  href="http://www.ams.org/mathscinet/search/publications.html?pg1=IID&amp;s1=790871"
                  >MathSciNet</a
                >
                <br />
                Here is the list from
                <a
                  href="http://scholar.google.com/citations?user=3CbtWncAAAAJ&amp;hl=de"
                  >google scholar</a
                >
              </p>
              {% include 'publications_content.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <p></p>
  </div>
</div>
{% endblock %}
