{% extends '_base.html' %}{% block title %}Peter Pfaffelhuber{% endblock %}{% block content %}
<div class="container">
  <h1>Peter Pfaffelhuber</h1>
  <div class="row">
    <div class="col-8">
      <p> My group is dealing with applications of
        probability theory in the life sciences. Recently, we started projects in formalization of probability using
        the Lean interactive Theorem prover. </p>
      <p>I am one of three
        professors at the <a href="https://uni-freiburg.de/stochastik/">probability group</a> within the <a
          href="https://www.math.uni-freiburg.de/index.html">mathematical institute</a> of the <a
          href="https://uni-freiburg.de/">University of Freiburg</a>.
      </p>
      <p>
        Currently, I am member of the directorate of the <a href="https://www.uni-freiburg.de/fdmai/">Freiburg Center
          for Data Analysis, Modeling and AI (FDMAI).</a>
      </p>
      <h2>Office hours:</h2>
      <p></p>
      <p>Please write an email if you want to contact me.</p>
      <p></p>
      <h2>Adress:<b> </b></h2>
      <p>
        Abteilung für Mathematische Stochastik <br />
        Albert-Ludwigs University of Freiburg <br />
        Ernst-Zermelo-Straße 1
      </p>
      <p>
        Zimmer 233<br />
        D - 79104 Freiburg
      </p>
      <p>
        Tel: +49-761-203-5667 <br />
        E-Mail: <a href="mailto:p.p@stochastik.uni-freiburg.de">p.p@stochastik.uni-freiburg.de</a>
      </p>
    </div>
    <div class="col-4">
      <img src="static/Bilder/peter_pfaffelhuber_relax.jpg" style="float: right; width: 270px; max-width: 100%; height: auto;"
        title="peter_pfaffelhuber_bild" alt="Peter_Pfaffelhuber_Bild_zugeschnitten" class="px-4" />
    </div>
  </div>
  <div class="col-12">
    <div class="ufr-accordion">
      <div class="ufr-accordion-item">
        <button type="button" class="ufr-accordion-header" data-bs-toggle="collapse"
          data-bs-target="#_theses" aria-expanded="false" aria-controls="_theses">
          <span class="ufr-accordion-header-content">
            <span class="ufr-accordion-title">Bachelor and Master theses</span>
          </span>
          <span class="ufr-accordion-chevron" aria-hidden="true">
            <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
            </svg>
          </span>
        </button>
        <div id="_theses" class="collapse">
          <div class="ufr-accordion-body">
            <div>Note: If you are looking for a thesis within the Master of Education programme, please 
              look at the Bachelor's theses.
            </div>
            <hr>
            {# Active thesis topics: drop an _NAME.html into
               templates/theses/current/. scripts/make_theses.py
               regenerates _aggregated.html (this include) plus the
               LaTeX source for the downloadable PDF. To retire a
               topic, move its partial to templates/theses/archive/. #}
            {% include 'theses/_aggregated.html' %}
          </div>
        </div>
      </div>
      <div class="ufr-accordion-item">
        <button type="button" class="ufr-accordion-header" data-bs-toggle="collapse"
          data-bs-target="#_researchTopics" aria-expanded="false" aria-controls="_researchTopics">
          <span class="ufr-accordion-header-content">
            <span class="ufr-accordion-title">Research topics</span>
          </span>
          <span class="ufr-accordion-chevron" aria-hidden="true">
            <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
            </svg>
          </span>
        </button>
        <div id="_researchTopics" class="collapse">
          <div class="ufr-accordion-body">
            <ul>
              <li>Probabilistic modeling in the life sciences</li>
              <li>Population genetics</li>
              <li>Chemical reaction networks</li>
              <li>Formalizing probability</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ufr-accordion-item">
        <button type="button" class="ufr-accordion-header" data-bs-toggle="collapse"
          data-bs-target="#_publications" aria-expanded="false" aria-controls="_publications">
          <span class="ufr-accordion-header-content">
            <span class="ufr-accordion-title">Publications</span>
          </span>
          <span class="ufr-accordion-chevron" aria-hidden="true">
            <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
            </svg>
          </span>
        </button>
        <div id="_publications" class="collapse">
          <div class="ufr-accordion-body">
            <p>
              My research is published in both, mathematical and biological
              journals. Only peer-reviewed papers are listed.
            </p>
            {% include 'publications_content_pfaffelhuber.html' %}
            <p>
              Here is the list from
              <a href="http://www.ams.org/mathscinet/search/publications.html?pg1=IID&amp;s1=790871">MathSciNet</a>
              <br />
              Here is the list from
              <a href="http://scholar.google.com/citations?user=3CbtWncAAAAJ&amp;hl=de">google scholar</a>
              <br>
              Here is my
              <a href="https://orcid.org/0000-0002-6421-5460">orcid profile</a>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <p></p>
  </div>
</div>
{% endblock %}
