{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<div class="container">
  <div class="col-12">
    <div class="container" id="inhalt">
      <h1>Projects</h1>
      <p>My research has three goals:</p>
      <ul>
        <li>
          Stochastics is the basis for understanding in the life sciences.
          Fields of application that we work on are population genetics,
          forensic genetics and neuroscience.
        </li>
        <li>
          The characterization and convergence of stochastic processes can be
          studied by (so-called) martingale problems. We are working on the
          development of new convergence results using this technique.
        </li>
        <li>
          In recent years, mathematicians can formalize their research results
          using the
          <a href="https://leanprover.github.io/">Lean Theorem prover</a>. We
          are working to expand the stochastics section of the corresponding
          library.
        </li>
      </ul>
    </div>

    <!--    <div class="container text-end">
      <div class="row">
        <div class="col">
          <a
            href="/de/studiengaenge/bachelor"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
          >
            Bachelor
          </a>
          <a
            href="/de/studiengaenge/master"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
          >
            Master
          </a>
          <a
            href="/de/studiengaenge/lehramt"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
          >
            Lehramt
          </a>
          <a
            href="/de/studienberatung/"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
          >
            Studienberatung
          </a>
          <a
            href="https://fachschaft-mathe-freiburg.de/"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
          >
            Fachschaft
          </a>
        </div>
      </div>
    </div>-->

    <div id="accordion"></div>
    <div class="accordion accordion-flush" id="accordionExample">
      <div class="accordion-item" id="_vorbereitung">
        <h4 class="accordion-header" id="header_vorbereitung">
          <button
            aria-controls="_forensicGenetics"
            aria-expanded="false"
            class="accordion-button collapsed"
            data-bs-target="#_forensicGenetics"
            data-bs-toggle="collapse"
            type="button"
          >
            <h3 class="h5">Forensic Genetics</h3>
          </button>
        </h4>
        <div
          aria-labelledby="_forensicGenetics"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
          id="_forensicGenetics"
        >
          <div class="accordion-body" id="forensicGenetics">
            Zusammen mit
            <a
              href="https://www.stochastik.uni-freiburg.de/de/professoren/rohde"
              >Angelika Rohde</a
            >
            und
            <a
              href="https://www.uniklinik-freiburg.de/rechtsmedizin/forensische-molekularbiologie.html"
              >Sabine Lutz-Bonengel</a
            >
            bin ich Projektleiter in einem Projekt zur forensischen Genetik des
            Sonderforschungsbereichs
            <a href="https://www.smalldata-initiative.de">Small Data.</a>
          </div>
        </div>
      </div>
      <div class="accordion-item" id="_vorkurs">
        <h4 class="accordion-header" id="header_vorkurs">
          <button
            aria-controls="_transposableElements"
            aria-expanded="false"
            class="accordion-button collapsed"
            data-bs-target="#_transposableElements"
            data-bs-toggle="collapse"
            type="button"
          >
            <h3 class="h5">Transposable Elements</h3>
          </button>
        </h4>
        <div
          aria-labelledby="_transposableElements"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
          id="_transposableElements"
        >
          <div class="accordion-body" id="transposableElements">
            <p>TEs</p>
          </div>
        </div>
        <div class="accordion-item" id="_einfuehrungswoche">
          <h4 class="accordion-header" id="header_einfuehrungswoche">
            <button
              aria-controls="_CRNs"
              aria-expanded="false"
              class="accordion-button collapsed"
              data-bs-target="#_CRNs"
              data-bs-toggle="collapse"
              type="button"
            >
              <h3 class="h5">Chemical Reaction Networks</h3>
            </button>
          </h4>
          <div
            id="_CRNs"
            aria-labelledby="_CRNs"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body" id="CRNs">
              <p>CRNs</p>
            </div>
          </div>
        </div>

        <div class="accordion-item" id="_beginn">
          <h4 class="accordion-header" id="header_beginn">
            <button
              aria-controls="_mathlib"
              aria-expanded="false"
              class="accordion-button collapsed"
              data-bs-target="#_mathlib"
              data-bs-toggle="collapse"
              type="button"
            >
              <h3 class="h5">Formalizing Probability</h3>
            </button>
          </h4>
          <div
            aria-labelledby="_mathlib"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
            id="_mathlib"
          >
            <div class="accordion-body" id="mathlib">
              <p>Lean</p>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
