<ul>
  
  <li>
    <span class="authors">Dette, H., Heinzel, C., Lange, Z., Pfaffelhuber, P.</span>
    <span class="title"><a href="https://arxiv.org/abs/2606.01990">Testing for Single-Population Ancestry in the Admixture Model</a>.
    </span>
    <span class="date">submitted.</span>
    <span class="date">2026.</span>
  </li>
  
  <li>
    <span class="authors">Farhadizadeh, M., Heinzel, C., Sigle, A., Binder, H., Wenz, F., Hasenauer, J., Pfaffelhuber, P., Binder, N.</span>
    <span class="title"><a href="https://arxiv.org/abs/2606.14587">Typical Healthcare Pathways as a Basis for Admixture Modeling of Patient Trajectories</a>.
    </span>
    <span class="date">submitted.</span>
    <span class="date">2026.</span>
  </li>
  
  <li>
    <span class="authors">Heinzel, C., Pfaffelhuber, P., Wakolbinger, A.</span>
    <span class="title"><a href="https://arxiv.org/abs/2606.15842">A small noise approximation for Muller's Ratchet</a>.
    </span>
    <span class="date">submitted.</span>
    <span class="date">2026.</span>
  </li>
  
  <li>
    <span class="authors">Heinzel, C.</span>
    <span class="title"><a href="https://arxiv.org/abs/2509.12734">A Statistical Test for Comparing the Linkage and Admixture Model Based on Central Limit Theorems</a>.
    </span>
    <span class="date">submitted.</span>
    <span class="date">2025.</span>
  </li>
  
  <li>
    <span class="authors">Maurer, T., Purucker, L., Hutter, F., Pfaffelhuber, P., Heinzel, C.</span>
    <span class="title"><a href="https://www.biorxiv.org/content/10.1101/2025.11.08.687358v1">Enhancing Intra-Continental Biogeographical Ancestry Prediction Through a Machine Learning Marker Selection Method</a>.
    </span>
    <span class="date">submitted.</span>
    <span class="date">2025.</span>
  </li>
  
  <li>
    <span class="authors">Heinzel, C., Schweinsberg, J.</span>
    <span class="title"><a href="https://doi.org/10.1007/s11538-026-01626-2">Estimating the Growth Rate of a Birth and Death Process Using Data From a Small Sample</a>.
    </span>
    <span>88(5),</span>
    <span class="date">Bulletin of Mathematical Biology.</span>
    <span class="date">2026.</span>
  </li>
  
  <li>
    <span class="authors">Heinzel, C.</span>
    <span class="title"><a href="https://doi.org/10.1016/j.tpb.2025.10.001">Consistency and central limit results for the maximum likelihood estimator in the Admixture Model</a>.
    </span>
    <span>166, 70-79,</span>
    <span class="date">Theoretical Population Biology.</span>
    <span class="date">2025.</span>
  </li>
  
  <li>
    <span class="authors">Heinzel, C., Baumdicker, F., Pfaffelhuber, P.</span>
    <span class="title"><a href="https://doi.org/10.1093/g3journal/jkaf142">Revealing the range of equally likely estimates in the admixture model</a>.
    </span>
    <span>15(9),</span>
    <span class="date">G3.</span>
    <span class="date">2025.</span>
  </li>
  
  <li>
    <span class="authors">Heinzel, C., Jadebeck, J., Zelle, E., Seiffarth, J., Nöh, K.</span>
    <span class="title"><a href="https://doi.org/10.3390/psf2025012003">Combining Knowledge About Metabolic Networks and Single-Cell Data with Maximum Entropy</a>.
    </span>
    <span>12(1), 3,</span>
    <span class="date">Physical Sciences Forum.</span>
    <span class="date">2025.</span>
  </li>
  
  <li>
    <span class="authors">Heinzel, C., Purucker, L., Hutter, F., Pfaffelhuber, P.</span>
    <span class="title"><a href="https://doi.org/10.1016/j.fsigen.2025.103290">Advancing Biogeographical Ancestry Predictions Through Machine Learning</a>.
    </span>
    <span>79(103290),</span>
    <span class="date">Forensic Science International: Genetics.</span>
    <span class="date">2025.</span>
  </li>
  
</ul>