{% extends '_base.html' %}{% block title %}Home{% endblock %}{% block content %}
<div class="container">
  <div class="col-12">
    <div class="container" id="inhalt">
      <h1>Projects</h1>
      <p>

        Together with <a href="https://www.stochastik.uni-freiburg.de/de/professoren/peter-pfaffelhuber/rohde">Angelika
          Rohde</a> and <a
          href="https://www.uniklinik-freiburg.de/rechtsmedizin/forensische-molekularbiologie.html">Sabine
          Lutz-Bonengel</a>, Peter Pfaffelhuber is PI within a project on forensic genetics of the CRC <a
          href="https://www.smalldata-initiative.de">Small Data.</a>< /p>
          <p></p>
          <br>
          <h4>Here are some descriptions of ongoing research projects</h4>
          <!--      <p>
        In all our work, we use probability theory as the basis for
        understanding phenomena in the life sciences. Fields of application that
        we work on are population genetics, forensic genetics and neuroscience.
      </p>-->
    </div>
    <div id="accordion">
      <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item" id="_vorbereitung">
          <h4 class="accordion-header" id="header_vorbereitung">
            <button aria-controls="_forensicGenetics" aria-expanded="false" class="accordion-button collapsed"
              data-bs-target="#_forensicGenetics" data-bs-toggle="collapse" type="button">
              <h3 class="h5">Forensic Genetics</h3>
            </button>
          </h4>
          <div aria-labelledby="_forensicGenetics" class="accordion-collapse collapse"
            data-bs-parent="#accordionExample" id="_forensicGenetics">
            <div class="accordion-body" id="forensicGenetics">
              <p>
                We consider \(K\) populations and data on the DNA sequence at
                \(M\) different positions (i.e., we use \(M\) different markers)
                for \(N\) individuals. Based on this knowledge, we estimate the
                ancestry of individuals with the Admixture Model. Specifically,
                we assume that the ancestry of each individual is a mixture of
                the \(K\) non-admixed populations, such as those from Europe or
                Africa.
              </p>
              <p>
                We mainly focus on the following topics concerning the ancestry
                of individuals:
              </p>
              <ul>
                <li>
                  Theoretical Properties of the Estimator: The ancestry is often
                  estimated with a Maximum-Likelihood Estimator. We prove some
                  theoretical properties of this estimator, e.g. consistency and
                  central limit results. Marker Selection: The question arises
                  which markers are the best ones for the estimation of the
                  ancestry. We use central limit results to answer this
                  question.
                </li>
                <li>
                  Classification: In the forensic genetics, researchers often
                  classify the individuals into populations. The output is the
                  probability that an individual comes from a specific
                  population. We combine – together with Frank Hutter and
                  Lennart Purucker – machine learning and probability theory to
                  improve the state-of-the-art method to classify individuals
                  into populations.
                </li>
                <li>
                  Statistical Test: It might be that the parents of an
                  individual are from different populations. Then, it does not
                  make sense to classify this individual into one single
                  population. We provide statistical tests to e.g. evaluate
                  whether the classification makes sense. A Part of this work is
                  joint with
                  <a href="https://www.uniklinik-freiburg.de/rechtsmedizin/forensische-molekularbiologie.html">Sabine
                    Lutz-Bonengel</a>
                  .
                </li>
              </ul>
              This project if part of the CRC
              <a href="https://www.smalldata-initiative.de">Small Data.</a>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="_vorkurs">
          <h4 class="accordion-header" id="header_vorkurs">
            <button aria-controls="_transposableElements" aria-expanded="false" class="accordion-button collapsed"
              data-bs-target="#_transposableElements" data-bs-toggle="collapse" type="button">
              <h3 class="h5">Transposable Elements</h3>
            </button>
          </h4>
          <div aria-labelledby="_transposableElements" class="accordion-collapse collapse"
            data-bs-parent="#accordionExample" id="_transposableElements">
            <div class="accordion-body" id="transposableElements">
              <p>
                TEs are mobile genetic elements and oftentimes in the process of
                moving, they duplicate. In our ongoing research project, we are
                interested in modeling the evolution of TEs in the species of
                Macrotermes. By utilizing long-read, high-fidelity (HiFi) sequencing,
                we are able to annotate the TEs present in the Macrotermes genome
                and study their abundance using some bioinformatic tools.
              </p>
              <p>
                Importantly, by employing a de novo annotation approach, we can also
                discover and characterize novel TE families that are not represented
                in existing TE libraries. This is a valuable endeavor, as the movement
                and duplication of TEs can have significant genotypic and phenotypic
                consequences, such as gene disruption and the generation of new genetic
                elements.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="_einfuehrungswoche">
          <h4 class="accordion-header" id="header_einfuehrungswoche">
            <button aria-controls="_CRNs" aria-expanded="false" class="accordion-button collapsed"
              data-bs-target="#_CRNs" data-bs-toggle="collapse" type="button">
              <h3 class="h5">Chemical Reaction Networks</h3>
            </button>
          </h4>
          <div id="_CRNs" aria-labelledby="_CRNs" class="accordion-collapse collapse"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" id="CRNs">
              <p>CRNs</p>
              <p>
                The characterization and convergence of stochastic processes can
                be studied by (so-called) martingale problems. We are working on
                the development of new convergence results using this technique,
                in particular corresponding to Chemical Reaction Networks.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item" id="_beginn">
          <h4 class="accordion-header" id="header_beginn">
            <button aria-controls="_mathlib" aria-expanded="false" class="accordion-button collapsed"
              data-bs-target="#_mathlib" data-bs-toggle="collapse" type="button">
              <h3 class="h5">Formalizing Probability</h3>
            </button>
          </h4>
          <div aria-labelledby="_mathlib" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
            id="_mathlib">
            <div class="accordion-body" id="mathlib">
              In recent years, mathematicians can formalize their research
              results using the
              <a href="https://leanprover.github.io/">Lean Theorem prover</a>.
              We are working to expand the stochastics section of the
              corresponding library.
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>