{% extends '_base.html' %}{% block title %}Jakob Stiefel{% endblock %}{% block content %}
<div class="container">
  <h1>Jakob Stiefel</h1>
  <div class="row">
    <div class="col-8">
      <h2>Information:</h2>
      <p></p>
      <p>Here is some information!</p>
    </div>
    <div class="col-4">
      <img
        src="static/Bilder/Stiefel.jpg"
        style="float: right; width: 270px; max-width: 100%; height: auto;"
        title="Jakob Stiefel"
        alt="Jakob Stiefel"
        class="px-4"
      />
    </div>
    <div class="col-12">
      <div class="ufr-accordion">
        <div class="ufr-accordion-item">
          <button type="button" class="ufr-accordion-header" data-bs-toggle="collapse"
            data-bs-target="#_researchTopics" aria-expanded="false" aria-controls="_researchTopics">
            <span class="ufr-accordion-header-content">
              <span class="ufr-accordion-title">Topic 1</span>
            </span>
            <span class="ufr-accordion-chevron" aria-hidden="true">
              <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
              </svg>
            </span>
          </button>
          <div id="_researchTopics" class="collapse">
            <div class="ufr-accordion-body">
              <ul>
                <li>List item 1</li>
                <li>List item 2</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ufr-accordion-item">
          <button type="button" class="ufr-accordion-header" data-bs-toggle="collapse"
            data-bs-target="#_publications" aria-expanded="false" aria-controls="_publications">
            <span class="ufr-accordion-header-content">
              <span class="ufr-accordion-title">Publications</span>
            </span>
            <span class="ufr-accordion-chevron" aria-hidden="true">
              <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
              </svg>
            </span>
          </button>
          <div id="_publications" class="collapse">
            <div class="ufr-accordion-body">
              <p>Here are some publications.</p>
            </div>
          </div>
        </div>
      </div>

      <p></p>
    </div>
  </div>
</div>
{% endblock %}
